.container {
  width: 1064px;
  height: fit-content;
  padding: 50px 0 113px;
  margin: 0px auto;
  background-color: #ffffff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.questionContainer {
  background-color: #f2f2f2;
  padding: 16px;
  width: 962px;
  border-radius: 32px;
  position: relative;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.divSkeleton {
  background-color: transparent;
  height: 70vh;
}

.question {
  margin: auto;
  width: 930px;
  min-height: 200px;
  background-color: white;
  border: 1px solid rgb(82, 82, 82);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 0px 40px;
}

.questionTitle {
  color: rgb(51, 51, 51);
  max-width: 797px;
  font-size: 20px;
  text-align: left;
  margin-left: 24px;
  margin-bottom: 40px;
  font-weight: 500;
}

.inputSelect {
  width: 797px;
  height: 50px;
  margin: auto;
  border-radius: 4px;
  border: 1px solid rgba(0, 114, 187, 0.8);
  padding: 10px;
}

.btnSubmit {
  width: 196px;
  height: 48px;
  border-radius: 30px;
  /* padding: 8px 20px; */
  background-color: #0072bb;
  font-size: 16px;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.btnCancel {
  color: #0072bb;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  width: 173px;
  height: 48px;
  border-radius: 30px;
  border: 3px solid #ddd;
  cursor: pointer;
}



/* INPUTS */

.divRadio {
  display: flex;
  gap: 10px;
  color: rgb(51, 51, 51);
  margin: 5px 24px;
  padding-left: 20px;
  font-size: 16px;
  margin-bottom: 15px;
}
.inputRadio {
  width: 16px;
  accent-color: rgb(0, 114, 187);
}

.inputText {
  background-color: rgb(242, 242, 242);
  color: rgb(82, 82, 82);
  width: 90%;
  height: 82px;
  border-radius: 8px;
  border: 1px solid rgb(82, 82, 82);
  padding: 5px 12px;
  margin: 0px 50px;
  resize: none;
}

.inputNumber {
  margin-left: 24px;
  width: 194px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid rgb(82, 82, 82);
  padding: 13px 12px;
}

.inputNumberError {
  margin-left: 24px;
  width: 194px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #c62828;
  padding: 13px 12px;
}
.inputCheckbox {
  accent-color: rgb(0, 114, 187);
}

.divFile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputFile {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  text-transform: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}
.fileUploadedContainer {
  background-color: #f4f3f9;
  border-radius: 40px;
  width: 90%;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.fileUploadedDiv {
  width: 512px;
  height: 105px;
  border-radius: 16px;
  background-color: white;
  border: 1px solid #b4beba;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.progressUploading {
  width: 100%;
  height: 10px;
}

.progressError {
  width: 100%;
  height: 5px;
  border: 1px solid #c62828;
  border-radius: 10px;
}
.progressError::-webkit-progress-value {
  background-color: #c62828;
}
